<!DOCTYPE html>
<html lang="en" ng-app='App'>
<head>
    <meta charset="UTF-8">
    <title>Anger Log</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.css"> <!--TODO: 本番ではmin版とする。-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.js"></script> <!--TODO: 本番ではmin版とする。-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
</head>
<body ng-controller="AppController" class="container">
<div>

    <div>
        <h1>登録</h1>
        <form ng-submit="submit()">
            <div class="form-group">
                <label for="date">日時</label>
                <input type="text" class="form-control" id="date" ng-model="date">
                <input type="text" class="form-control" id="time" ng-model="time">

                <label for="title">タイトル</label>
                <input type="text" class="form-control" id="title" ng-model="title">

                <label for="case">出来事</label>
                <input type="text" class="form-control" id="case" ng-model="case">

                <label for="think">思った事</label>
                <input type="text" class="form-control" id="think" ng-model="think">

                <label for="emotion">感情</label>
                <input type="text" class="form-control" id="emotion" ng-model="emotion">

                <label for="strength">感情の強さ</label>
                <input type="text" class="form-control" id="strength" ng-model="strength">

                <label for="action">行動</label>
                <input type="text" class="form-control" id="action" ng-model="action">

                <label for="result">結果</label>
                <input type="text" class="form-control" id="result" ng-model="result">
            </div>
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
    </div>

    <hr>

    <div>
        <h1>ログ一覧</h1>
        <ul>
            <!-- 繰り返したいタグに対してng-repeatを使う -->
            <li style="padding: 5px" ng-repeat="user in users">
                <div>
                    <!-- ng-repeat内のuserをタグで囲まれた範囲内で使うことができます -->
                    <span>{{user.date}} {{user.time}}</span><span>{{user.title}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>